<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
</head>
<body style="padding:40px ">

<div >
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <label for="FirstName">Education</label>
                <div class="form-group">
                    <label >degree</label>
                    <input type="text" formControlName="degree" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.degree.errors }" [(ngModel)]="degree"  />
                    <div *ngIf="submitted && f.degree.errors" class="invalid-feedback">
                        <div *ngIf="f.degree.errors.required">degree is required</div>
                    </div>
                </div>
        
                  <div class="form-group">
                      <label>Major</label>
                      <input type="text" formControlName="major" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.major.errors }" [(ngModel)]="major"  />
                      <div *ngIf="submitted && f.major.errors" class="invalid-feedback">
                          <div *ngIf="f.major.errors.required">Major is required</div>
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <label>College</label>
  <input type="text" formControlName="College" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.College.errors }"  [(ngModel)]="College"  />
                      <div *ngIf="submitted && f.College.errors" class="invalid-feedback">
                          <div *ngIf="f.College.errors.required">College is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>YEAR</label>
                      <input type="text" formControlName="YEAR" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.YEAR.errors }"  [(ngModel)]="YEAR"/>
                      <div *ngIf="submitted && f.YEAR.errors" class="invalid-feedback">
                          <div *ngIf="f.YEAR.errors.required">YEAR is required</div>
                          
                      </div>
                  </div>
                 
                  <div class="form-group">
                     
                        <button (click)="signup()" class="btn btn-primary">submit</button>   : {{status}}
                 
